.product-list-container {

    margin: 3rem 0;
    .product-list-title {
        margin-top: 5rem;
        text-align: center;
        font-weight: 700;
        font-size: xx-large;
    }

    .product-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        div {
            cursor: pointer;
            height: fit-content;
        }
    }
}

@media(min-width: 1024px){
    .product-list-container {
        .product-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: 0 5rem;
            div {
                flex: 0 0 300px;
                height: 450px;
                margin-inline: 0.5rem;
            }
        }
    }
}