.hero-image {
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0, 0.2)),
    url('../../assets/Images/hero1.jpg') center/cover no-repeat;
}


.hero-title {
    text-align: center;
    font-size: 2rem;
}

@media(min-width: 1024px) {
    .hero-title {
        font-size: 2.5rem;
    }
}

.shop-now-btn {
    text-align: center;
    font-weight: 600;
    // margin-right: 3rem;
}


