.main-section-container {
    // width: 70%; 
    // margin: 3rem 0;
    width: 100vw;

    .ms-m-description {
        p {
            font-size: 0.933rem;
            line-height: 1.5;
        }
    }
}

@media(min-width: 1024px) {
    .main-section-middle {
        display: flex;
        justify-content: space-between;

        .ms-image {
            max-width: 545px;
            flex: 10 545px;
        }

        .ms-m-description {
            margin-left: 30px;
            align-self: center;
            p {
                font-size: 1.1rem;
            }
        }
    }
}