.main-section-container {
    width: 100vw;

    .ms-m-description {
        p {
            line-height: 1.5;
        }
    }
}

@media(min-width: 1024px) {
    .main-section-middle {
        display: flex;
        justify-content: space-between;

        .ms-image {
            max-width: 545px;
            flex: 10 545px;
        }

        .ms-m-description {
            margin-left: 30px;
            align-self: center;
        }
    }
}